<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header">
        Nuevo usuario
      </div>
      <div class="card-body">
        <form action="/users/signup" method="POST">
          <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Nombre" value="{{name}}">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Email" value="{{email}}">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Contraseña" value="{{password}}">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="confirm_password" placeholder="Confirmar Contraseña" value="{{confirm_password}}">
          </div>
          <div class="form-group">
            <select class="form-control" id="gender" name="gender" placeholder="Genero">
              {{#each genders as |g|}}
              <option value={{g.name}}>{{g.name}}</option>
              {{/each}}
            </select>
          </div>
          <div class="form-group">
            <select class="form-control" id="rolId" name="rolId" placeholder="Rol">
              {{#each rols as |r|}}
              <option value={{r._id}}>{{r.name}}</option>
              {{/each}}
            </select>
          </div>
          <button class="btn btn-primary btn-block">
            Registrar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>